<h4>Endereço de Cobrança</h4>
<ul>
  <li>
    <label for="zipCode">CEP</label><input type="text" name="zipCode" id="zipCode" placeholder="01310-200" maxlength="9" />
  </li>
  <li>
    <label for="street">Logradouro</label><input type="text" name="logradouro" id="logradouro" placeholder="Av. Paulista" />
  </li>
  <li>
    <label for="number">Numero</label><input type="text" name="number" id="number" placeholder="1578" />
  </li>
  <li>
    <label for="neighborhood">Bairro</label><input type="text" name="neighborhood" id="neighborhood" placeholder="Bela Vista" />
  </li>
  <li>
    <label for="phone">Telefone</label><input type="text" name="phone" id="phone" placeholder="(11) 3251-5644" maxlength="15" />
  </li>
</ul>

<h4>Credit Card</h4>

<ul>
  <li>
    <label for="name">Nome</label><input type="text" name="name" id="name" placeholder="João da Silva" />
  </li>
  <li>
    <label for="cc">Cartão</label><input type="text" name="cc" id="cc" placeholder="0000 0000 0000 0000" maxlength="19" />
  </li>
  <li>
    <label for="cvc">CVC</label><input type="text" name="cvc" id="cvc" placeholder="123" maxlength="4" />
  </li>
  <li>
    <label for="expireDate">Validade</label><input type="text" name="expireDate" id="expireDate" placeholder="MM / YYYY" maxlength="7" />
  </li>
</ul>
<button>Contribuir</button>
