<span ng-show="loading" class="ion-loading-c"></span>
<section id="formations">
  <select ng-model="selectedFormation" ng-change="selectFormation(selectedFormation)" ng-options="formation.scheme for formation in formations">
  </select>
</section>
<div id="field">
  <section id="slots">
    <ol>
      <li>
        <ul id="foward">
          <li class="player" ng-repeat="i in getNumber(selectedFormation.foward) track by $index">
            <button class="ion-person" ng-click="wantToSelect($index)" ng-hide="playerAlreadySelected($index)"></button>
            <img ng-show="playerAlreadySelected($index)" ng-src="http://cdn.soccerwiki.org/images/player/48_1350751881.jpg" alt="Eric DJEMBA-DJEMBA" src="http://cdn.soccerwiki.org/images/player/48_1350751881.jpg">
          </li>
        </ul>
      </li>
      <li>
        <ul id="middle">
          <li class="player" ng-repeat="i in getNumber(selectedFormation.middle) track by $index">
            <button class="ion-person" ng-click="wantToSelect()" />
          </li>
        </ul>
      </li>
      <li>
        <ul id="back">
          <li class="player" ng-repeat="i in getNumber(selectedFormation.back) track by $index">
            <button class="ion-person" ng-click="wantToSelect()" />
          </li>
        </ul>
      </li>
      <li>
        <ul id="goal-keeper">
          <li class="player">
            <button class="ion-person" ng-click="wantToSelect()" />
          </li>
        </ul>
      </li>
    </ol>
  </section>
</div>
<ol id="players" ng-show="selectedFormation.wantToSelect">
  <li ng-repeat="player in players">
    <figure>
      <img ng-src="{{ player.photo }}" alt="{{ player.fullName }}" />
    </figure>
  </li>
</ol>