<section id="formations">
  <select>
    <option>4-4-2</option>
    <option>4-5-1</option>
    <option>4-3-3</option>
    <option>3-4-3</option>
    <option>3-5-2</option>
    <option>5-3-2</option>
    <option>5-4-1</option>
  </select>
</section>
<div id="field">
  <figure>
    <section id="slots">
      <ul id="foward">
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
      </ul>
      <ul id="middle">
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
      </ul>
      <ul id="back">
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
      </ul>
      <ul id="goal-keeper">
        <li>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </li>
      </ul>
    </section>
  </figure>
</div>
<ol id="players">
  <li ng:repeat="player in players">
    <figure>
      <label class="checkbox">
        <input type="checkbox">
      </label>
      <img ng:src="{{ player.photo }}" alt="{{ player.fullName }}" />
      <figcaption>{{ player.fullName }} ({{ player.position }})</figcaption>
    </figure>
  </li>
</ol>