#formations select {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#field {
  width: 358px;
  height: 493px;
  z-index: -1;
}

#field:after {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 358px;
  height: 493px;
  content:'';
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: perspective( 600px ) rotateX( 45deg );
  -moz-transform: perspective( 600px ) rotateX( 45deg );
  -o-transform: perspective( 600px ) rotateX( 45deg );
  transform: perspective( 600px ) rotateX( 45deg );
  background-color: green;
  background: url('../img/soccer-field.png');
  background-size: 100% 100%;
  background-position:center;
  z-index: -1;
}

#slots {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 20%;
}

#slots ol li {
  padding-top: 0;
  padding-bottom: 17%;
}

#slots ul {
  position: absolute;
  list-style: none;
  text-align: center;
  right: 0;
  left:0;
}

#slots ul li {
  display: inline-block;
  margin: 1%;
}

#goal-keeper {}

.player img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.ion-person {
  font-size: 30px;
  color: #145dd7;
}

@media screen and (max-width: 56em) {
  #field {
    width: 250px;
    height: 308px;
  }
  #field:after {
    width: 250px;
    height: 308px;
  }
}