/* Mobile Reset */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'symbols';
  src: url('../fonts/symbols.eot?74915073');
  src: url('../fonts/symbols.eot?74915073#iefix') format('embedded-opentype'),
       url('../fonts/symbols.woff?74915073') format('woff'),
       url('../fonts/symbols.ttf?74915073') format('truetype'),
       url('../fonts/symbols.svg?74915073#symbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

html {
  font-family: 'Open Sans';
  font-size: 1rem;
}

html, body, main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body > nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40px;
  z-index: -1;
  background-color: green;
}

main {
  box-shadow: 0 0 5px black;
  display: block;
  background-color: white;
  transition: all 250ms;
}

body > nav + main {
  position: fixed;
  left: 200px;
}

#menu {
  display: none;
}

label[for="menu"] {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  display: inline-block;
  background-color: #660000;
  position: relative;
}

label[for="menu"]:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0;
  right: -.75rem;
  height: 4.5rem;
  top: -.75rem;
  border: .75rem solid transparent;
  border-right-color: #770000;
}

main > header {
  color: white;
  font-size: 2rem;
}

main > header h1 {
  display: inline-block;
  position: absolute;
  height: 5.25rem;
  line-height: 5.25rem;
  left: 5.25rem;
  right: 0;
  text-align: center;
  background-color: #990000;
}

ul {
  list-style: none;
}

label {
  display: inline-block;
  width: 90px;
  font-weight: 700;
  font-size: 0.9em;
}

label:before {
  padding: 3px 5px;
  color: #bada55;
  font-family: 'symbols';
}

label[for="name"]:before { content: '\e800'; }
label[for="cc"]:before { content: '\e801'; }
label[for="cvc"]:before { content: '\e803'; }
label[for="expireDate"]:before { content: '\e802'; }

li {
  padding: 5px;
}

li + li {
  border-top: 1px solid #e6e6e6;
}

input[type="text"] {
  font-family: "Open Sans";
  width: calc(100% - 90px);
  border: none;
  padding: 5px;
  outline: none;
  font-size: 1em;
}

button {
  width: calc(100% -  10px);
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-family: "Open Sans";
  background-color: #bada55;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}
