#players {
  position: absolute;
}

#players li {
  display: inline-block;
  margin: 2px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#players figure {
  padding: 0;
  margin: 0;
}

#players img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}