@import url(http://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

body, input {
  font: 1em 1em/1em 'Lato';
}

#countries {
  list-style: none;
}

#countries li {
  display: inline-block;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

#countries figure {
  padding: 0;
  margin: 0;
}

#countries img {
  max-width: 100%;
  max-height: 100%;
  width: 60px;
  height: 60px;
}

#players {
  list-style: none;
}

#players li {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#players figure {
  padding: 0;
  margin: 0;
}

#players figcaption {
  float: right;
  text-align: center;
  font-weight: 100;
  font-size: .8em;
  transition: all 250ms;
}

#players img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#players .checkbox {
  float: right;
}

#field figure {
  background: url('http://localhost:8000/img/soccer-field.png');
  background-size: 100% 100%;
  width: 358px;
  height: 493px;
  background-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: perspective( 600px ) rotateX( 45deg );
  -moz-transform: perspective( 600px ) rotateX( 45deg );
  -o-transform: perspective( 600px ) rotateX( 45deg );
  transform: perspective( 600px ) rotateX( 45deg );
}

@media screen and (min-width: 56em) {
  #field figure {
    width: 200px;
    height: 300px;
  }
}

@media screen and (max-width: 56em) {
  #field figure {
    width: 250px;
    height: 345px;
  }
}

#slots {
  float: left;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  position: relative;
}

#slots ul {
  list-style: none;
  text-align: center;
  border: 2px solid blue;
  padding: 0;
  right: 0;
  left:0;
  position: absolute;
}

#slots li {
  list-style: none;
  display: inline-block;
  border: 2px solid red;
  margin: 0;
  padding: 0;
}

#slots input[type='checkbox'] {
  margin: 15px;
}

#foward {
  border: 2px solid yellow;
  top: 14%;
}

#middle {
  top: 42%;
}

#back {
  bottom: 19%;
}

.snap-content {
  margin-top: 14%;
  background-color: #FFFFFF;
}

.snap-drawer-left {
  background-color: #D3D345;
}

.button.button-icon {
  text-align: left;
  width: 80px;
}
