@import url(http://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

body, input {
  font: 1em 1em/1em 'Lato';
}

#countries {
  list-style: none;
}

#countries li {
  display: inline-block;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

#countries figure {
  padding: 0;
  margin: 0;
}

#countries img {
  max-width: 100%;
  max-height: 100%;
  width: 60px;
  height: 60px;
}

#players {
  list-style: none;
}

#players li {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#players figure {
  padding: 0;
  margin: 0;
}

#players figcaption {
  float: right;
  text-align: center;
  font-weight: 100;
  font-size: .8em;
  transition: all 250ms;
}

#players img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#players .checkbox {
  float: right;
}

#field {
  float: right;
  width: 120px;
}

#field img {
  z-index:-1;
  position: absolute;
  clip: rect(0px, 160px, 493px, 0px);
}

.snap-content {
  margin-top: 14%;
  background-color: #FFFFFF;
}

.snap-drawer-left {
  background-color: #D3D345;
}

.button.button-icon {
  text-align: left;
  width: 80px;
}
