@import url(http://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
}

body {
  background-color: #4a87ee;
}

body, input {
  font: 1em 1em/1em 'Lato';
}

span.ion-loading-c {
  position: absolute;
  left: 43%;
  top: 50%;
  margin:0px auto;
  z-index: 1000;
}

.ion-loading-c {
  font-size: 50px;
  color: green;
}

.snap-content {
  margin-top: 18%;
  background-color: #FFFFFF;
}

.snap-drawer-left {
  background-color: #D3D345;
}

.button.button-icon {
  text-align: left;
  width: 80px;
}
